form {
  display: flex;
  flex-direction: column; 
  gap: 12px;
  margin-top: 20px;
}

form h2 {
  text-align: center;
  color: #004a99;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%; 
  box-sizing: border-box; 
}

.form-control{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%; 
  box-sizing: border-box; 
}
